.App {
  text-align: center;
  display: grid;
  height: 100vh;
  width: 100vw;

  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;

  .main{
    display: grid;
    height: 100%;
    width: 70vw;

    align-items: center;
    justify-items: center;

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 4;

    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    .item-1{
      height:95%;
      width: 95%;

      grid-column-start: 1;
      grid-column-end: 3;

      grid-row-start: 1;
      grid-row-end: 2;
    }

    .item-2{
      height:95%;
      width: 95%;

      grid-column-start: 1;
      grid-column-end: 2;

      grid-row-start: 2;
      grid-row-end: 3;
    }

    .item-3{
      height:95%;
      width: 95%;

      grid-column-start: 2;
      grid-column-end: 3;

      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}
